div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div a {
  background: #e72929;
  text-decoration: underline;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
}
