<app-search></app-search>
<app-not-found
  [visible]="!pokemons || !pokemons.length"
  notFoundMessage="No results for your search"
  resetLinkText="Reset Search"
></app-not-found>
<app-tags *ngIf="pokemons && pokemons.length"></app-tags>
<ul>
  <li *ngFor="let pokemon of pokemons">
    <a routerLink="/pokemon/{{ pokemon.id }}">
      <img [src]="pokemon.imageUrl" [alt]="pokemon.name" />
      <div class="details">
        <div class="content">
          <p class="name">{{ pokemon.name }}</p>
          <div class="favorite {{ pokemon.favorite ? '' : 'not' }}">
            <i class="fa-solid fa-heart"></i>
          </div>
        </div>
        <app-star-rating [stars]="pokemon.stars" [size]="2" />
        <p>{{ pokemon.price | currency : "EUR" }}</p>
      </div>
    </a>
  </li>
</ul>
