<app-not-found
  [visible]="!pokemon.id"
  notFoundMessage="Pokémon not found"
  resetLinkText="Back to Homepage"
></app-not-found>
<div *ngIf="pokemon.id" class="container">
  <img [src]="pokemon.imageUrl" [alt]="pokemon.name" />
  <div class="details">
    <div class="header">
      <p class="name">{{ pokemon.name }}</p>
      <div class="favorite {{ pokemon.favorite ? '' : 'not' }}">
        <i class="fa-solid fa-heart"></i>
      </div>
    </div>
    <app-star-rating [stars]="pokemon.stars" [size]="2" />
    <p>{{ pokemon.price | currency : "EUR" }}</p>
    <p>Number: {{ pokemon.number }}</p>
    <p>Type: {{ pokemon.type }}</p>
    <p>Species: {{ pokemon.species }}</p>
    <p>Height: {{ pokemon.height }} m</p>
    <p>Weight: {{ pokemon.weight }} kg</p>
    <p>Abilities: {{ pokemon.abilities }}</p>
    <p class="price">{{ pokemon.price | currency : "EUR" }}</p>
    <div class="tags">
      <a *ngFor="let tag of pokemon.tags" routerLink="/tag/{{ tag }}">
        {{ tag }}
      </a>
    </div>
    <button (click)="addToCart()">Add to Cart</button>
  </div>
</div>
